*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.continar{
    width: 1170px;
    margin: 0 auto;
}
#fade ,#slide{
    background-color: red;
    width: 500px;
    height: 200px;
}
#slide{
    background-color: aqua;
}
#animation{
    width: 200px;
    height: 200px;
    background-color: blue;
}